.calculator-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    flex-direction: column;
}

button {
    height: 100px;
    width: 100px;
    font-size: large;
}

.buttons {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.output {
    background-color: gray;
    width: 300px;
    height: 100px;
}